@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply px-3 font-semibold text-green-500
}

.default {
  @apply px-3 font-semibold
}

.banner {
  background-image: url("./assets/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.overlapBannerImg{
  top: -848px; 
}

.show-hide-pass-btn{
  position: relative;
  right: -213px;
  top: -47px;
}

.footer-sub-title {
  @apply font-bold mb-3
}

.footer-links {
  @apply mb-2 text-gray-500
}