@tailwind base;
@tailwind components;
@tailwind utilities;

.tagline{
  font-size: 12px;
}

.active {
  @apply px-3 font-semibold text-green-500
}

.default {
  @apply px-3 font-semibold
}

.mb-active {
  @apply text-black my-1 text-xs bg-white text-center py-1 px-3 rounded-2xl font-semibold
}

.mb-default {
  @apply text-gray-500 my-1 text-xs bg-white text-center py-1 px-3 rounded-2xl font-semibold
}

.home-banner{
   background-image: url("./assets/HomeBannerBG.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.banner {
  background-image: url("./assets/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.overlapBannerImg{
  top: -848px; 
}

.show-hide-pass-btn{
  position: relative;
  right: -240px;
  top: -47px;
}

.eye-slashEye-hover{
  @apply hover:bg-gray-300 hover:bg-opacity-20 duration-500 cursor-pointer w-7 h-7 text-center rounded-full
}

.footer-sub-title {
  @apply font-bold mb-3
}

.footer-links {
  @apply mb-2 text-gray-500
}

.errorPageTexts{
  margin-top: -560px;
}

.LazyLoad {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.is-visible {
  opacity: 1;
}

code{
  @apply italic font-bold
}